{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [0],
    "react/no-unescaped-entities": [0],
    "no-console": [0],
    "linebreak-style": ["error", "unix"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "dot-notation": [0],
    "import/prefer-default-export": [0],
    "react/prop-types": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "jsx-a11y/click-events-have-key-events": [0]
  },
  "env": {
    "browser": true
  }
}
