$blackColor: #333;
$whiteColor: #fff;
$borderColor: #ddd;
$primaryColor: #f0f0f0;
$linkColor: #0ebbff;
$primaryFontSize: 1em;
$secondaryFontSize: 0.85em;
$freeSpace: 15px;
$headerHeight: 60px;
$shadow: 0 0 4px rgba(141, 141, 141, 0.3);
