@import "../styles/global";

.list {
  margin: $freeSpace;
  min-height: 500px;
  min-width: 350px;
  border-radius: 7px;
  border: 1px solid $borderColor;

  .toolbar {
    width: 100%;
    background-color: $primaryColor;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: $freeSpace;
    padding-right: $freeSpace;
    border-bottom: 1px solid $borderColor;
  }
}
