@import "../styles/global";

.bucket-list {
  margin: $freeSpace;
  min-height: 500px;
  min-width: 350px;
  border-radius: 7px;
  border: 1px solid $borderColor;

  .list {
    overflow: auto;
  }

  .toolbar {
    width: 100%;
    background-color: $primaryColor;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: $freeSpace;
    padding-right: $freeSpace;
    border-bottom: 1px solid $borderColor;
  }
}
