@import "../styles/global";

.item {
  padding-left: $freeSpace;
  padding-right: $freeSpace;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: $secondaryFontSize;

  &:hover {
    background-color: darken($whiteColor, 2);
  }
}
